header img {
    width: 80px;
}

.header {
    grid-area: h;
    background-color: darkgray;
}

.loginBlock {
    float: right;
    color: white;
}
.loginBlock a {
    text-decoration: none;
    color: white;
}